<!DOCTYPE html>
<html lang="en">
  <%- include("head", {pageAuthor: "Tom Riley", pageTitle: "Blog"}) %>
  <body>
    <%- include("header-nav") %>
    <main>
      <h2>Blog Posts</h2>
      <ul>
        <% articles.forEach(function(article){ %>
        <li>
          <a href="/blog/<%- article.name %>"><%= article.title %></a>
        </li>
        <% }); %>
      </ul>
    </main>
    <%- include("footer") %>
  </body>
</html>
